@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: #efefef;
  overflow-x: hidden;
}

header {
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

header img {
  width: 100px;
}

header nav ul {
  list-style-type: none;
  display: flex;
}

header nav ul li {
  margin-left: 2rem;
}

header nav ul li a {
  text-decoration: none;
  color: #000;
}

header nav ul li a:hover {
  border-bottom: 2px solid violet;
}

/* MAIN */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.text-box {
  margin-bottom: 1.5rem;
  padding: 1rem;
  line-height: 1.75rem;
}

.container div img {
  width: 100%;
}

/* FOOTER */

footer {
  height: 100px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  font-size: 85%;
}

footer a {
  margin-left: 2rem;
}

footer img {
  width: 20px;
}
